<div class="bg-light">
    <div class="content card p-3">
        <div class="">

            <div class="flexcenter">
                <div class="flexstart"><button (click)="goBack()" class="btn btn-outline-primary"><img class="icon1"
                            src="assets/icons/lessthan.svg"></button>
                    <div class="m-3">
                        <h3>{{'shipmentsummary'|translate}}</h3>
                        <p>{{detail.OrderNo}}</p>
                    </div>

                </div>
                <div><button class="btn btn-outline-primary" (click)="goHome()">{{'close'|translate}}</button></div>
            </div>




        </div>
        <div class="  mt-3 bg-light">
            <div class="card bg-light" *ngIf="!showDetail">
                <div class="row">
                    <p class="text-success">{{detail.Status}}</p>

                </div>
                <div class="row">
                    <div class="col">
                        <p>{{'shipmentnumber'|translate}}</p>
                        <p>{{detail.ShipmentNo}}</p>
                    </div>
                    <div class="col">
                        <p *ngIf="detail.DeliveryMethod=='SHP'">{{'expectedshipdate'| translate}}</p>

                        <p *ngIf="detail.DeliveryMethod=='PICK'">{{'expectedpickupdate'|translate}}</p>
                        <p>{{detail.ExpectedShipmentDate}}</p>
                    </div>
                    <div id="shipto" class="col">
                        <p>Ship to</p>
                        <p>{{detail.ToAddress.FirstName + " "+detail.ToAddress.LastName + ", "
                            +detail.ToAddress.City+","+detail.ToAddress.ZipCode}}</p>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse"><button type="button m-0 p-0" class="btn btn-link"
                        style="vertical-align:top" (click)="showDetail=!showDetail">{{'showinfo'|translate}}</button>
                </div>
            </div>
            <div class="card bg-light" *ngIf="showDetail">
                <div class="row">
                    <p>{{detail.Status}}</p>

                </div>

                <div class="row">
                    <div class="col">
                        <p>{{'shipmentnumber'|translate}}</p>
                        <p>{{detail.ShipmentNo}}</p>
                        <br>
                        <p *ngIf="detail.DeliveryMethod=='SHP'">{{'carrier'|translate}}</p>
                        <p *ngIf="detail.DeliveryMethod=='SHP'">{{detail.ScacAndService}}</p>
                        <br>
                        <p>{{'assignedto'|translate}}</p>
                        <p>{{detail.AssignedToUserId}}</p>
                        <br>
                        <p>{{'shipto'|translate}}</p>
                        <p>{{detail.ToAddress.FirstName + " "+detail.ToAddress.LastName
                            }}</p>
                        <p>{{detail.ToAddress.AddressLine1}}</p>
                        <p>{{detail.ToAddress.City +", "+detail.ToAddress.State+", "+detail.ToAddress.ZipCode}}</p>
                        <p>{{detail.ToAddress.Country}}</p>
                    </div>
                    <div class="col">
                        <p *ngIf="detail.DeliveryMethod=='SHP'">{{'expectedshipdate'|translate}}</p>

                        <p *ngIf="detail.DeliveryMethod=='PICK'">{{'expectedpickupdate'|translate}}</p>
                        <p>{{detail.ExpectedShipmentDate}}</p>
                        <br>
                        <p>{{'customerinfo'|translate}}</p>
                        <p>{{detail.BillToAddress.FirstName + " "+ detail.BillToAddress.LastName}}

                        </p>
                        <p>{{detail.BillToAddress.DayPhone}}</p>
                        <p> {{detail.BillToAddress.EMailID}}</p>
                        <br>
                        <p>{{'billto'|translate}}</p>
                        <p>{{detail.BillToAddress.FirstName + " "+detail.BillToAddress.LastName
                            }}</p>
                        <p>{{detail.BillToAddress.AddressLine1}}</p>
                        <p>{{detail.BillToAddress.City +", "+detail.BillToAddress.State+",
                            "+detail.BillToAddress.ZipCode}}
                        </p>
                        <p>{{detail.BillToAddress.Country}}</p>
                    </div>

                </div>

                <div class="d-flex flex-row-reverse"><button type="button m-0 p-0" class="btn btn-link"
                        style="vertical-align:top" (click)="showDetail=!showDetail">{{'hideinfo'|translate}}</button>
                </div>
            </div>

        </div>
        <div class=" mt-3">
            <div class="m-2">
                <span class="border-bottom p-2 text-primary">{{'products'|translate}}
                    ({{detail.ShipmentLines.TotalNumberOfRecords}})</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 p-3 border-top" *ngFor="let product of detail.ShipmentLines.ShipmentLine">
                    <div class="row">
                        <div class="col-4"><img class="img-fluid" style="max-width: 100%;  height: auto;"
                                [src]=product.OrderLine.ItemDetails.ImageUrl alt="">
                        </div>
                        <div class="col-8">
                            <p class="text-primary">{{product.OrderLine.ItemDetails.Description}}</p>
                            <p>{{'productid'|translate}}: {{product.OrderLine.ItemDetails.ItemID}}</p>
                            <p>{{'quantity'|translate}}:{{product.Quantity}}
                                {{product.OrderLine.ItemDetails.DisplayUnitOfMeasure}} </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>